---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- assign post = nil -%}
  {%- for p in site.posts -%}
    {%- if p.path contains "machine-synchresis" -%}
      {%- assign post = p -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if post -%}
    <article class="post-content">
      <header class="post-header">
        <h1 class="post-title">{{ post.title | escape }}</h1>
        <p class="post-meta">
          <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date: site.date_format | default: "%b %-d, %Y" }}
          </time>
        </p>
      </header>
      <div class="post-content">
        {{ post.content }}
      </div>
    </article>
  {%- endif -%}
</div>
